.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 1px;
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.modal-content {
    display: flex;
    margin: 0;

}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

.active {
    color: green;
}

.inactive {
    color: red;
}

.app {
    padding: 20px;
}

.blurred {
    filter: blur(5px);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.modal-header {
    height: auto;
    width: auto;
    background-color: #ffffff;
    margin: 0;
    border-radius: 8px;
}

#t1 {
    width: 270px;
    height: 50px;
    border-radius: 10px;
    margin-left: 10px;

}

#t2 {
    width: 270px;
    height: 50px;
    border-radius: 10px;
    margin-left: 10px;

}

#c1 {
    margin-left: 50px;
}

#c2 {
    margin-left: 30px;
}

.d1 {
    display: flex;
    margin-left: 10px;

}

.d2 {
    margin-left: 90%;
}

#h1 {
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}

#b1 {
    background-color: blue;
    color: #ffffff;
    border-radius: 8px;
    width: 60px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
}