.app {
  display: flex;
  height: 100vh;
  transition: margin-left 0.3s ease-in-out;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
}

.main-content .content {
  flex: 1;
  padding: 1rem;
  transition: margin-left 0.3s;
}
.content {
  padding: 20px;
}
.sidebar {
  margin-top: 40px;
  width: 210px;
  background-color: #367ec6;
  color: #fff;
  height: 100vh;
  padding: 5px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: fixed;
  left: -210px; /* Start off-screen */
  transition: left 0.3s;
  z-index: 1000;
}

.sidebar-open .main-content {
  margin-left: 250px; /* Adjust this value based on the width of your sidebar */
}

.sidebar .logo img {
  width: 250px;
  margin-bottom: 20px;
}

.sidebar .menu {
  list-style: none;
  padding: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  width: 100%; /* Ensure the ul takes full width */
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  width: 100%; /* Ensure the li takes full width */
  text-align: center; /* Center the text */
}

.sidebar ul li.dropdown {
  position: relative;
}

.sidebar ul li.dropdown-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  padding-left: 0; /* Remove indentation for dropdown items */
  background-color: #367ec6; /* Ensure the background matches the sidebar */
}

.sidebar ul li.dropdown-menu li {
  padding: 8px;
  cursor: pointer;
  text-align: center; /* Align dropdown items to the center */
}

.sidebar ul li.dropdown-menu li:hover {
  background-color: #0b4177;
}

.sidebar ul li:hover {
  background-color: #0b4177;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu-item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0;
  color: #fff;
}

.menu-item .material-symbols-outlined {
  margin-right: 8px;
}

#link {
  color: #fff;
}

#li1 {
  font-size: 1.4rem;
}
